/* Random Quote Generator Styles */

body {
  font-family: 'Playfair Display', serif;
  background-color: lightsteelblue;
}

#quiz-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.quiz {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.btn,
.right,
.wrong {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #000;
  color: #fff;
  padding: 15px;
  margin: 10px;
  transition: .5s ;
  text-decoration: none;
}

.right {
  background-color: green;
}

.wrong {
  background-color: red;
}

.btn {
  background-color: #000;
}

.btn:hover {
  background-color: lightsteelblue;
  color: #000;
}

.btn:focus {
  outline: none;
}

.cookies-enabled,
.cookies-disabled {
  margin-left: 10px;
  width:fit-content;
  padding:10px;
  border-radius: 5%;
 
  font-size: 16px;
}
.cookies-enabled {
  background-color: green;
}
.cookies-disabled{
  background-color: red;
}


.next-question,
.play-again {
  background-color: lightgreen;
  padding: 6px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid green;
  
}

.play-again{
  padding: 10px;
  display: block;
  width:fit-content;
  margin-top:30px;
}
